<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IValueService" />
                <binding name="BasicHttpsBinding_IValueService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:14356/ValueService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IValueService" contract="ServiceReference1.IValueService"
                name="BasicHttpBinding_IValueService" />
            <endpoint address="https://localhost:44315/ValueService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IValueService"
                contract="ServiceReference1.IValueService" name="BasicHttpsBinding_IValueService" />
        </client>
    </system.serviceModel>
</configuration>